name: Build_APK_9X_Pro
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Create Package
        run: |
          mkdir output
          echo "Build-Success" > output/status.txt

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Al-Noor-Final-APK
          path: output/
